.alert {
  width: 100%;
  max-width: 50rem;
}
.alert-icon {
  margin-right: 1rem;
}
.alert-close {
  padding: 0.1rem;
  font-size: 1.8rem !important;
  color: #4b4b4b;
  background-color: #ffffff85;
}
.alert-close:hover {
  background-color: #b6b6b69a;
}
.alert-button {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  font-size: 1.5rem !important;
  color: #4b4b4b;
  background-color: #ffffff9a;
}
.alert-button:hover {
  background-color: #b6b6b69a;
}

.success {
  color: var(--dark-green);
  background-color: var(--light-green);
}
.info {
  color: var(--dark-blue);
  background-color: var(--light-blue);
}
.error {
  color: var(--dark-red);
  background-color: var(--light-red);
}
.warning {
  color: var(--dark-yellow);
  background-color: var(--light-yellow);
}
