.payment {
  grid-area: payment;
}
.cart {
  grid-area: cart;
}
.cart-container {
  grid-template-columns: 1fr 370px;
  grid-template-areas: "cart payment";
}

/* Desktops 2K*/
@media only screen and (max-width: 1536px) {
  .card-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* Tablets, Phones */
@media only screen and (max-width: 640px) {
  .cart-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "payment"
      "cart";
  }
  .card-list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
